.body{
    margin: 0px;
}
.box{
    width: 100%;
    height: 853px;
    margin: 0px;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
    background: #EEEEEE;
opacity: 1;
}
.navbar{
    width: 100%;
    height: 56px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-image: url(/header\ pattern\ svg.svg);
}
.headerLogo{
    width: 134px;
    height: 36px;
    opacity: 1;
    margin: 9.5px 241.98px 10.5px 24px;
}
.navbar-menu{
    padding-top: 19px;
    padding-bottom: 19px;
}
.menulinks{
    text-align: right;
    letter-spacing: 0px;
    color: #3FD28B;
    text-transform: uppercase;
    opacity: 1;  
    text-decoration: none;
    margin-top: 19px ;
    margin-bottom: 19px;
    margin-left: 0px;
    margin-right: 32px;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
.navbar-icons{
    padding-top: 16px;
    align-content: flex-end;
}
.icons{
    margin-left: 80px;
}
.menulinks:hover, .menulinks:focus{
    color: #FFFFFF;
    border-bottom:4px solid #FFFFFF ;
}
.containernav{
    height: 64px;
    margin: 24px 24px 24px 24px;
    background-color: #8DDC97;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 16px;
}
.first-slider{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-slider:hover{
    border-bottom: 4px solid black;
} 
.sortingDiv{
    margin: 0px 24px 0px 24px;
    height: 45px;
   display: flex;
   justify-content: space-between;
   font-family: 'Quicksand', sans-serif;
   opacity: 1;
   border-bottom: 1px solid #000000;
}
.fourcourses{
    text-align: left;
    color: #686868;
    opacity: 1;
    width: 132px;
    height: 15px;
    font-size: 12px;
    margin-bottom: 17px;

}
.subsorting{
    padding-right: 10px;
    width: 23%;
    display: flex;
    justify-content: end;
    margin-right: 0px ;
}
#sortby{
    width: 45px;
    height: 15px;
    color: #686868;
    opacity: 1;
    font-size: 12px;
    margin-bottom: 24px;
    letter-spacing: 0px;
    text-align: left;
}
#coursename{
    width: 102px;
    height: 20px;
    color: #333333;
    opacity: 1;
    font-size: 16px;
    margin-bottom: 6px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #EEEEEE;
}


.container{
    padding: 24px 30px;
    background-color:#EEEEEE ;
}
.containernav{
 width: 90%;
height: 64px;
margin: 0px auto;
background-color: #8DDC97;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 16px;
}

.first-slider{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.first-slider:hover{
    border-bottom: 4px solid black;
}

.sorting-div{
 margin-top: 30px;
display: flex;
justify-content: space-between;
font-size: 12px;
}
.subsorting{
    padding-right: 10px;
    width: 23%;
    display: flex;
    justify-content:end;
}
/* footer */
footer {
  width: 100%;
  padding-top: 10px;
  min-height: 30px;
  background: #e0e1e1 0% 0% no-repeat padding-box;
  opacity: 1;
}
.ft-p {
  padding-left: 20px;
  padding-top: 5px;
}

#footerdiv {
  width: 65%;
  margin: auto;
  display: flex;
  color: #616161;
}

.card{
    width: 476px;
    /* height: 246px; */
    padding:  24px 4px 4px 24px;
    background-color: #FFFFFF;
}
.card-img{
    width: 132px;
    height: 157px;
    object-fit: cover;
}
.upper{
  display: flex;
  padding-bottom: 15px;

}
.card-content{
  padding-top: 5px;
  padding-left: 20px;
}
.card-content p{
color:#666666 ;
font-size: 12px;
}
.coursesname{
width: 90%;

}
.card-content p span{
 font-weight: 700;
 color: black;
  }
.lowerdiv{
  margin-top: 10px;
  display: flex;
  padding: 6px 0px;
  justify-content: space-around;
  align-items: center;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #8DDC97;

}

.allcart{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-row: 10px;
}
.allcart > div {
  margin: 12px;
}



@media only screen and (max-width: 768px) {
  .card-img{
    width: 100px;
    height: 120px;
    object-fit: cover;
}

  .containernav{
    width: 100%;
  }
  #footerdiv {
    width: 90%;
  }
  .subsorting{
    width: 50%;}
}
