body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  

}
.container{
    width: 457px;
    height: 138px;
    display: flex;
    padding: 4px;

}
.profile_img{
    width: 130px;
    height: 130px;
    display: flex;
     
    margin-right: 14px;  
}

.content{
    padding: auto;
    margin-left: 14px;
}
.username{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: bold;  
    margin-bottom: 0px; 
}
.para{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 'regular';
    color: #000;
    margin-bottom: 24px;
}
.btn{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: medium;
    color: #858991;
}
.comment{
display: flex;
}
.retweet{
    display: flex;
    margin-left: 24px;
    
}
.like{
    display: flex;
    margin-left: 24px;
}
.count{
    margin: auto;
    margin-left: 14px;
}