.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows:1fr 3fr 3fr 1fr;
    grid-template-columns: repeat(12,fr);
    grid-gap: 3px;
    grid-template-areas: "h h h h h h h h h h h h"
                        "s s c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
                        "s s c2 c2 c2 c2 c2 c3 c3 c3 c3 c3 "
                        "f f f f f f f f f f f f ";

}
.container > div,header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body{
    box-sizing: border-box;
    height: 100vh;
    color:white;
}
header{
    grid-area: h;
    background-color: #8772e0;
}
.Sidepanel{
    grid-area: s;
    background-color: #3ad5cd;
    background-image: linear-gradient(#3ad5cd,#29a49d);
}
.Content-1{
    grid-area: c1;
    background-color: #4282ec;
    background-image: linear-gradient(to bottom right, #6b54da,#39d6dd);
}
.Content-2{
    grid-area: c2;
    background-color: #4282ec;
    background-image: linear-gradient(to bottom right, #6b54da,#39d6dd);
}
.Content-3{
    grid-area: c3;
    background-color: #4282ec;
    background-image: linear-gradient(to bottom right, #6b54da,#39d6dd);
}
footer{
    grid-area: f;
    background-color:#8772e0;
}
@media only screen and (max-width:560px) {
    .container{
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas: "h h h h h h h h h h h h"
                              "s s s s s s s s s s s s "
                              "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 "
                              "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
                              "c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3"
                              "f f f f f f f f f f f f ";
}
}
/*@media (min-width: 560px) and (max-width:767px) {
    .container{
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
         grid-template-areas: "h h h h h h h h s s s s"
                              "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
                              "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 "
                              "c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3"
                              "f f f f f f f f f f f f "; */
/*}
}*/